.screen {
  height: 700px;
  width: 700px;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -350px 0px 0px -350px;
  margin-bottom: 0px;
}

.inner-circle {
  height: 700px;
  width: 700px;
  border: 2px solid green;
  border-radius: 50%;
  position: absolute;
}

.outer-circle {
  height: 1290px;
  width: 1290px;
  margin: auto;
  border: 2px solid red;
  border-radius: 50%;
  position: relative;
}

.ship {
  /* background-color: red; */
  position: absolute;
  left: 335px;
  top: 335px;
  transform: rotate(0deg);
  background-image: url('../images/spaceship.png');
  background-size: cover;
}

.asteroid {
  /* background-color: blue; */
  border-radius: 50%;
  position: absolute;
  background-image: url('../images/asteroid2.jpg');
  background-position: right
}

.score {
  font-size: 30px;
}

.top-bar {
  position: absolute;
  height: 315px;
  background-color: black;
  top: -1310px;
  font-size: 0px;
}

.bottom-bar {
  position:relative;
  height: 400px;
  background-color: black;
  /* top: -610px; */
  z-index: 2;
}
